<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>OpenID relay service</display-name>

  <!-- Declare the existence of a servlet. -->
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>oidrelay.TestServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>  

  <!-- Map URLs to that servlet. -->
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/api</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/u/*</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <url-pattern>/api</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>user</role-name>
    </auth-constraint>
  </security-constraint>

</web-app>
